// Font colors

$font-color-primary: #444444;
$font-color-secondary: #222222;

// Pokémon type name background colors

$color-normal-name: #a8a878;
$color-fighting-name: #c03028;
$color-flying-name: #a890f0;
$color-poison-name: #a040a0;
$color-ground-name: #e0c068;
$color-rock-name: #b8a038;
$color-bug-name: #a8b820;
$color-ghost-name: #705898;
$color-steel-name: #b8b8d0;
$color-fire-name: #f08030;
$color-water-name: #6890f0;
$color-grass-name: #78c850;
$color-electric-name: #f8d030;
$color-psychic-name: #f85888;
$color-ice-name: #98d8d8;
$color-dragon-name: #7038f8;
$color-dark-name: #705848;
$color-fairy-name: #ee99ac;

// Pokémon type name background colors

$color-normal-body: rgba(168, 168, 120, 0.5);
$color-fighting-body: rgba(192, 48, 40, 0.5);
$color-flying-body: rgba(168, 144, 240, 0.5);
$color-poison-body: rgba(160, 64, 160, 0.5);
$color-ground-body: rgba(224, 192, 104, 0.5);
$color-rock-body: rgba(184, 160, 56, 0.5);
$color-bug-body: rgba(168, 184, 32, 0.5);
$color-ghost-body: rgba(112, 88, 152, 0.5);
$color-steel-body: rgba(184, 184, 208), 0.5;
$color-fire-body: rgba(240, 128, 48, 0.5);
$color-water-body: rgba(104, 144, 240, 0.5);
$color-grass-body: rgba(120, 200, 80, 0.5);
$color-electric-body: rgba(248, 208, 48, 0.5);
$color-psychic-body: rgba(248, 88, 136, 0.5);
$color-ice-body: rgba(152, 216, 216, 0.5);
$color-dragon-body: rgba(112, 56, 248, 0.5);
$color-dark-body: rgba(112, 88, 72, 0.5);
$color-fairy-body: rgba(238, 153, 172, 0.5);