@use "../base/reset";
@use "../abstracts/" as a;
@use "../layout/grid" as g;

html {
    scroll-behavior: smooth;
}

body {
    font-family: a.$font-body;
    font-size: 1rem;
    background-color: #fff;
    line-height: 1.5;

    // Change the background color of the body using JS
    &.normal {
        background-color: a.$color-normal-body;
    }

    &.fighting {
        background-color: a.$color-fighting-body;
    }

    &.flying {
        background-color: a.$color-flying-body;
    }

    &.poison {
        background-color: a.$color-poison-body;
    }

    &.ground {
        background-color: a.$color-ground-body;
    }

    &.rock {
        background-color: a.$color-rock-body;
    }

    &.bug {
        background-color: a.$color-bug-body;
    }

    &.ghost {
        background-color: a.$color-ghost-body;
    }

    &.steel {
        background-color: a.$color-steel-body;
    }

    &.fire {
        background-color: a.$color-fire-body;
    }

    &.water {
        background-color: a.$color-water-body;
    }

    &.grass {
        background-color: a.$color-grass-body;
    }

    &.electric {
        background-color: a.$color-electric-body;
    }

    &.psychic {
        background-color: a.$color-psychic-body;
    }

    &.ice {
        background-color: a.$color-ice-body;
    }

    &.dragon {
        background-color: a.$color-dragon-body;
    }

    &.dark {
        background-color: a.$color-dark-body;
    }

    &.fairy {
        background-color: a.$color-fairy-body;
    }
}

.pokedex-container {
    max-width: 100vw;
    min-height: 80vh;
    max-height: 80vh;
}

//Pokédex search bar
.pokemon-search {
    height: 3rem;
    border: 3px solid #ccc;
    text-indent: 1rem;
    margin: 2rem 0;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.pokemon-identity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

//Add the "pokemon type" pills with JS amd chamge their color
.pokemon-type span {
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &.normal {
        background-color: a.$color-normal-name;
    }

    &.fighting {
        color: #fff;
        background-color: a.$color-fighting-name;
    }

    &.flying {
        background-color: a.$color-flying-name;
    }

    &.poison {
        color: #fff;
        background-color: a.$color-poison-name;
    }

    &.ground {
        background-color: a.$color-ground-name;
    }

    &.rock {
        background-color: a.$color-rock-name;
    }

    &.bug {
        background-color: a.$color-bug-name;
    }

    &.ghost {
        color: #fff;
        background-color: a.$color-ghost-name;
    }

    &.steel {
        background-color: a.$color-steel-name;
    }

    &.fire {
        background-color: a.$color-fire-name;
    }

    &.water {
        background-color: a.$color-water-name;
    }

    &.grass {
        background-color: a.$color-grass-name;
    }

    &.electric {
        background-color: a.$color-electric-name;
    }

    &.psychic {
        background-color: a.$color-psychic-name;
    }

    &.ice {
        background-color: a.$color-ice-name;
    }

    &.dragon {
        color: #fff;
        background-color: a.$color-dragon-name;
    }

    &.dark {
        color: #fff;
        background-color: a.$color-dark-name;
    }

    &.fairy {
        background-color: a.$color-fairy-name;
    }
}

.pokemon-name {
    font-size: 2.5rem;
}

.pokemon-number {
    font-size: 2rem;
    font-weight: a.$font-semi-bold;
}

//Make the pokémon image take it's full width and add a shadow dro
.poke-img {
    width: 100%;
    height: auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.pokedex-info {
    border-radius: 2rem 2rem 0 0;
    background-color: #fff;
    padding-bottom: 8rem;
    min-height: 40vh;
    max-height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.pokedex-tabs {
    overflow: hidden;
    background-color: #fff;
}

.pokedex-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem 2rem 0 0;
}

//Make the tabs look like part of the container
.pokedex-tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;

    &:hover {
        font-weight: a.$font-semi-bold;
    }

    &.active {
        background-color: #fff;
        font-weight: a.$font-semi-bold;
        border-bottom: 3px solid #c3c3c3;
    }
}

/* hide tab-content to show it with JS*/
.tab-content {
    line-height: 2rem;
    padding: 2rem;
    display: none;
    overflow: hidden;
}

.poke-moves {
    overflow-y: scroll;
    max-height: 25vh;
}

// If the screen is at least 768px wide, make the sections take half and half
@media screen and (min-width: 768px) {
    .pokedex-container {
        max-width: 100vw;
        min-height: 100vh;
    }

    .pokedex-info {
        border-radius: 2rem;
        background-color: #fff;
        margin: 5rem 2rem;
        padding-bottom: 8rem;
        min-height: 80vh;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    .poke-moves {
        overflow-y: scroll;
        max-height: 65vh;
    }

    .pokedex-tab span {
        font-size: 1rem;
    }
}
